* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
	--purple: #e7daff;
	--grey: #4f555a;
	--imbPlex: 'IBM Plex Sans', sans-serif;
}

body {
	font-family: var(--imbPlex);
	color: var(--grey);
}

p {
	font-weight: 400;
}

a {
	text-decoration: none;
	color: var(--grey);
}

ul {
	list-style: none;
}

.header-menu {
	position: fixed;
	width: 100%;
	z-index: 9;
}

.header-menu, .footer {
	height: 80px;
}

.nav-menu li {
	padding: 10px;
}

.nav-menu li a {
	transition: .5s;
	font-weight: 500;
}

.nav-menu li:hover a {
	text-decoration: underline;
}

.content-main {
	padding-top: 100px;
}

.mb-5 {
	margin-bottom: 50px;
}

.section-title {
	color: #4f555a;
	font-weight: bold;
	margin-bottom: 30px;
	font-size: 36px;
}

.bg-purple {
	background-color: var(--purple);
}

.section-main {
	padding: 80px 0;
}

.card-border {
    height: 300px;
    border: 2px solid var(--grey);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(79 85 90);
    margin-bottom: 30px;
}

.card-border h2 {
	margin-bottom: 10px;
	font-weight: 500;
}

.card-border span {
	font-weight: 500;
}

.card-border p {
	text-align: center;
}

.card-border figure {
	margin-bottom: 20px;
}

.card-border h2 {
	width: 100%;
	text-align: center;
}

.card-stacks span {
	margin-top: 20px;
}

.lista-item li {
	margin-bottom: 20px;
}

.text-center {
	text-align: center;
}

@media (min-width: 768px) {
	div[class^=menuToggle] input,
	.menuToggle .button-line {
		display: none;
	}
}

@media (max-width: 767px) {
	div[class^=menuToggle] input,
	.menuToggle .button-line {
		display: block;
	}

	.menuToggle {
		position: relative;
		z-index: 9;
		float: right;
	}

	div[class^=menuToggle] input {
		width: 100%;
		height: 100%;
		position: absolute;
		cursor: pointer;
		opacity: 0;
		z-index: 2;
	}

	.menuToggle .button-line {
		width: 35px;
		height: 5px;
		margin: 6px 0;
		background: var(--grey);
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		opacity 0.55s ease;
		border-radius: 5px;
	}

	.menuToggle input:checked ~ .button-line:nth-of-type(1) {
		-webkit-transform: rotate(-45deg) translate(-9px, 9px);
		transform: rotate(-45deg) translate(-9px, 9px);
	}

	.menuToggle input:checked ~ .button-line:nth-of-type(2) {
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}

	.menuToggle input:checked ~ .button-line:nth-of-type(3) {
		-webkit-transform: rotate(45deg) translate(-7px, -7px);
		transform: rotate(45deg) translate(-7px, -7px);
	}

	.menuToggle input:checked ~ .nav-menu {
		transform: none;
	}

	.nav-menu {
		-webkit-font-smoothing: antialiased;
		transform-origin: 0% 0%;
		transform: translate(100vw, 0);
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
		background-color: var(--grey);
		position: fixed;
		left: 50vw;
		width: 250px;
		padding: 20px;
		border-radius: 5px;
	}

	.nav-menu a {
		color: #fff;
	}

	.col-contact {
		margin-bottom: 50px;
	}
}